<div class="inicio">
    <!-- Start your project here-->

    <div id="preview" class="preview">
        <div style="display: none;"></div>
        <div>
            <div data-draggable="true" style="position: relative;">
                <!---->
                <!---->
                <section draggable="false" class="overflow-hidden pt-0" data-v-271253ee="">
                    <section class="mb-10">
                        <!-- Background image -->
                        <div class="p-5 text-center bg-image bannerConsultingJofer"
                            style="height: 500px; background-size: cover; background-position: 50% 50%; background-color: rgba(0, 0, 0, 0);"
                            aria-controls="#picker-editor"></div> <!-- Background image -->
                        <div class="container">
                            <div class="card mx-4 mx-md-5 text-center shadow-5-strong"
                                style=" margin-top: -170px; background: hsla(0, 0%, 100%, 0.7); backdrop-filter: blur(30px); ">
                                <div class="card-body px-4 py-5 px-md-5">
                                    <h1 class="display-3 fw-bold ls-tight mb-4"> <span>Soluciones empresariales</span>
                                        <br> <span class="text-primary">para tu negocio.</span>
                                    </h1>
                                    <a class="btn  btn-primary btn-lg py-3 px-5 mb-2 mb-md-0 me-md-2" href="#servicios"
                                        role="button" aria-controls="#picker-editor">Ver soluciones</a> <a
                                        class="btn  btn-link btn-lg py-3 px-5 mb-2 mb-md-0" data-ripple-color="primary"
                                        href="#contacto" role="button" aria-controls="#picker-editor">Contactar</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </section>
                <!---->
            </div>
        </div>
    </div>
    <div class="nosotrosSomos">
        <div class="container ">
            <div class="row text-center">
                <h3>
                    Somos una empresa líder en dar soluciones en las
                    distintas áreas de la industria.
                </h3>
                <h5>
                    Haz crecer tu negocio con nuestro equipo de trabajo.
                </h5>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <p class="note note-info">
                        <strong>Asesoria y consultoria de servicios profesionales:</strong> Nuestro propósito es servir,
                        cumpliendo los propósitos del negocio y
                        generando nuevas oportunidades.

                    </p>

                </div>
                <div class="col-md-3"></div>

            </div>
        </div>
    </div>
    <div class="bannerSpace">

    </div>
    <div class="industriasDiv">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-md-0 bgtelei">
                    <div class="d-flex justify-content-center mb-4"> <img src="/assets/images/telei.jpg"
                            class="rounded-circle shadow-1-strong" width="250" height="250" alt=""
                            aria-controls="#picker-editor"> </div>
                    <div class="card-body">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingOne">
                                    <button class="accordion-button collapsed btn-outline-dark " type="button"
                                        data-mdb-toggle="collapse" data-mdb-target="#flush-collapseOne"
                                        aria-expanded="false" aria-controls="flush-collapseOne">
                                        <h5>Telecomunicaciones y tecnología</h5>

                                    </button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingOne" data-mdb-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Ofrecemos servicios de tecnología de información y telecomunicaciones para la
                                        transformación de las empresas, creando nuevas estrategias de crecimiento en la
                                        industria.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">

                    <div class="d-flex justify-content-center mb-4"> <img src="/assets/images/autoi.jpg"
                            class="rounded-circle shadow-1-strong" width="250" height="250" alt=""
                            aria-controls="#picker-editor"> </div>
                    <div class="card-body">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingTwo">
                                    <button class="accordion-button collapsed btn-outline-dark" type="button"
                                        data-mdb-toggle="collapse" data-mdb-target="#flush-collapseTwo"
                                        aria-expanded="false" aria-controls="flush-collapseTwo">
                                        <h5>Automotriz</h5>


                                    </button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingTwo" data-mdb-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        El sector automotriz es uno de los sectores más importantes de México, ya
                                        que es el
                                        octavo país con mayor producción de unidades. Nuestro equipo de
                                        profesionales tiene un
                                        amplio conocimiento de la industria para atender las necesidades del
                                        negocio.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 mb-0">

                    <div class="d-flex justify-content-center mb-4"> <img src="/assets/images/gobi.jpg"
                            class="rounded-circle shadow-1-strong" width="250" height="250" alt=""
                            aria-controls="#picker-editor"> </div>
                    <div class="card-body">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingThree">
                                    <button class="accordion-button collapsed btn-outline-dark" type="button"
                                        data-mdb-toggle="collapse" data-mdb-target="#flush-collapseThree"
                                        aria-expanded="false" aria-controls="flush-collapseThree">
                                        <h5>Sector Público</h5>


                                    </button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingThree" data-mdb-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        El sector público y gobierno presenta retos importantes para enfrentar los
                                        cambios y
                                        crisis financieras. Nosotros contamos con la experiencia y los asesores
                                        especializados
                                        que te apoyaran a cumplir con las metas del negocio. Tenemos una metodología
                                        para
                                        brindarle a nuestros clientes las soluciones estratégicas.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-4 mb-5 mb-md-0">
                    <div class="d-flex justify-content-center mb-4"> <img src="/assets/images/saludi.jpg"
                            class="rounded-circle shadow-1-strong" width="250" height="250" alt=""
                            aria-controls="#picker-editor"> </div>
                    <div class="card-body">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFour">
                                    <button class="accordion-button collapsed btn-outline-dark" type="button"
                                        data-mdb-toggle="collapse" data-mdb-target="#flush-collapseFour"
                                        aria-expanded="false" aria-controls="flush-collapseFour">
                                        <h5>Salud</h5>


                                    </button>
                                </h2>
                                <div id="flush-collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFour" data-mdb-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Apoyamos a las organizaciones de salud y vida a crear nuevas experiencias y
                                        agilizar sus
                                        procesos de negocio para generar respuestas de salud oportunas a la comunidad.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-5 mb-md-0">
                    <div class="d-flex justify-content-center mb-4"> <img src="/assets/images/construci.jpg"
                            class="rounded-circle shadow-1-strong" width="250" height="250" alt=""
                            aria-controls="#picker-editor"> </div>
                    <div class="card-body">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingFive">
                                    <button class="accordion-button collapsed btn-outline-dark" type="button"
                                        data-mdb-toggle="collapse" data-mdb-target="#flush-collapseFive"
                                        aria-expanded="false" aria-controls="flush-collapseFive">
                                        <h5>Construcción</h5>


                                    </button>
                                </h2>
                                <div id="flush-collapseFive" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingFive" data-mdb-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Contamos con un equipo especializado en el sector inmobiliario cuenta con amplia
                                        experiencia en las operaciones de esta industria, con el objetivo de ofrecer a
                                        nuestros
                                        clientes propuestas a la medida e innovadoras.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-0">
                    <div class="d-flex justify-content-center mb-4"> <img src="/assets/images/consumoi.jpg"
                            class="rounded-circle shadow-1-strong" width="250" height="250" alt=""
                            aria-controls="#picker-editor"> </div>
                    <div class="card-body">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="flush-headingSix">
                                    <button class="accordion-button collapsed btn-outline-dark" type="button"
                                        data-mdb-toggle="collapse" data-mdb-target="#flush-collapseSix"
                                        aria-expanded="false" aria-controls="flush-collapseSix">
                                        <h5>Consumo</h5>


                                    </button>
                                </h2>
                                <div id="flush-collapseSix" class="accordion-collapse collapse"
                                    aria-labelledby="flush-headingSix" data-mdb-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        Brindamos servicios a negocios que con distintos productos de consumo tanto en
                                        la
                                        alimentación, vestido y productos para el hogar. Apoyamos a las empresas a
                                        resolver sus
                                        problemas y mejorar sus procesos y servicios.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="servicios">
        <div class="container">
            <h3>Nuestros servicios:</h3> <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/legalc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Asesoría Legal</h5>
                            <hr>
                            <p class="card-text">Ofrecemos a nuestros clientes una gran variedad de servicios legales a
                                fin de que las empresas cumplan con las obligaciones fiscales y federales del gobierno.
                            </p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card responsiveMarginCard">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/riskc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Consultoria de riesgos</h5>
                            <hr>
                            <p class="card-text">Nuestros profesionales en el área de riesgos apoyan a los negocios a
                                administrar sus riesgos en las distintas áreas y niveles de la empresa para que se
                                logren de la mejor manera los objetivos.</p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card responsiveMarginCard">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/financialc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Asesoría Financiera</h5>
                            <hr>
                            <p class="card-text">Contamos con un equipo de profesionales capacitados para dar solución a
                                los requerimientos y obligaciones fiscales a través de estrategias.</p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div> <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/techc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Servicios de Tecnología</h5>
                            <hr>
                            <p class="card-text">Auditoria de los procesos del negocio: <br>
                                Brindamos servicios de auditoría para mejorar los procesos del negocio y cumplir con las
                                regulaciones. Realizamos auditorías de alta calidad en las distintas áreas del negocio,
                                para aportar valor y transparencia.</p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card responsiveMarginCard">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/marketc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Estrategias de mercado</h5>
                            <hr>
                            <p class="card-text">Es importante que las compañías cuenten con estrategias empresariales
                                para los nuevos esquemas de trabajo, es prioritario que las empresas sean adaptables y
                                agiles respecto a la fuerza laboral. El uso de la tecnología y las nuevas regulaciones
                                deben ser el punto de apoyo.</p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card responsiveMarginCard">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img src="/assets/images/adminc.jpg" class="img-fluid" />
                            <a href="#!">
                                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                            </a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Servicios administrativos</h5>
                            <hr>
                            <p class="card-text">Ofrecemos servicios administrados en materia legal, impuestos y
                                finanzas, otorgando soluciones fáciles de integrar en el negocio con nuestro equipo de
                                trabajo que combina conocimiento, experiencia, tecnología e innovación.</p>
                            <a href="#contacto" class="btn btn-primary">Cotizar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>